<script type="text/x-red" data-template-name="swagger-doc">
  <div class="form-row">
    <label>
      <span data-i18n="swagger.label.path"></span>
    </label>
    <span id="node-config-input-method"></span>
    <span id="node-config-input-path"></span>
  </div>

  <div class="form-row">
    <ul style="background: #fff; min-width: 600px; margin-bottom: 20px;" id="node-config-swagger-tabs"></ul>
  </div>

  <div id="node-config-swagger-tabs-content" style="min-height: 350px">
    <div id="swagger-tab-info">
      <div class="form-row">
        <label id="node-config-input-summary-label" for="node-config-input-summary" class="popover-right" data-i18n="[data-content]swagger.data-content.summary"><span data-i18n="swagger.label.summary"></span></label>
        <input type="text" id="node-config-input-summary">
      </div>
      <div class="form-row">
        <label id="node-config-input-description-label" for="node-config-input-description" class="popover-right" data-i18n="[data-content]swagger.data-content.description"><span data-i18n="swagger.label.description"></span></label>
        <input type="text" id="node-config-input-description">
      </div>
      <div class="form-row">
        <label id="node-config-input-tags-label" for="node-config-input-tags" class="popover-right" data-i18n="[data-content]swagger.data-content.tags"><span data-i18n="swagger.label.tags"></span></label>
        <input type="text" id="node-config-input-tags" data-i18n="[placeholder]swagger.placeholder.tags">
      </div>
      <div class="form-row">
        <label id="node-config-input-consumes-label" for="node-config-input-consumes" class="popover-right" data-i18n="[data-content]swagger.data-content.consumes"><span data-i18n="swagger.label.consumes"></span></label>
        <input type="text" id="node-config-input-consumes" data-i18n="[placeholder]swagger.placeholder.consumes">
      </div>
      <div class="form-row">
        <label id="node-config-input-produces-label" for="node-config-input-produces" class="popover-right" data-i18n="[data-content]swagger.data-content.produces"><span data-i18n="swagger.label.produces"></span></label>
        <input type="text" id="node-config-input-produces" data-i18n="[placeholder]swagger.placeholder.produces">
      </div>
      <div  class="form-row">
        <input type="checkbox" id="node-config-input-deprecated" style="width: auto; vertical-align: top;"> <label id="node-config-input-deprecated-label" for="node-config-input-deprecated" class="popover-right" data-i18n="[data-content]swagger.data-content.deprecated"><span data-i18n="swagger.label.deprecated"></span></label>
      </div>
    </div>
    <div id="swagger-tab-parameters">
      <div class="form-row" style="box-sizing: border-box; border-radius: 5px; height: 100%; padding: 5px; border: 1px solid #ccc; overflow-y:scroll;">
        <ul id="node-config-parameter-list" style="padding: 0; margin:0;"></ul>
      </div>
      <div class="form-row">
        <a href="#" class="red-ui-button red-ui-button-small" id="node-config-input-add-parameter"><i class="fa fa-plus"></i> <span data-i18n="swagger.label.parameter"></span></a>
        <a href="#" id="node-config-input-parameter-info" class="popover-closable" style="font-size: 10px; text-decoration: underline; float: right"><span data-i18n="swagger.label.parameters-help"></span></a>
      </div>
    </div>
      <div id="swagger-tab-responses">
        <div class="form-row" style="box-sizing: border-box; border-radius: 5px; height: 100%; padding: 5px; border: 1px solid #ccc; overflow-y:scroll;">
          <ul id="node-config-response-list" style="padding: 0; margin:0;"></ul>
        </div>
        <div class="form-row">
          <a href="#" class="red-ui-button red-ui-button-small" id="node-config-input-add-response"><i class="fa fa-plus"></i> <span data-i18n="swagger.label.response"></span></a>
          <a href="#" id="node-config-input-response-info" class="popover-closable" style="font-size: 10px; text-decoration: underline; float: right"><span data-i18n="swagger.label.responses-help"></span></a>
        </div>
      </div>
    </div>
  </div>
</script>

<script type="text/x-red" data-help-name="swagger-doc">
  <p>Describes an HTTP API using Swagger.</p>
</script>

<script type="text/javascript">
  let swaggerDocUrl;
  let swaggerJson = null;
  (function () {
    const capitalize = str => str ? str.charAt(0).toUpperCase() + str.slice(1) : '';

    $('<script>', {
      src: 'https://cdn.jsdelivr.net/npm/jsoneditor@9.5.6/dist/jsoneditor.min.js'
    }).appendTo('head');

    $('<link>', {
      rel: 'stylesheet',
      type: 'text/css',
      href: 'https://cdn.jsdelivr.net/npm/jsoneditor@9.5.6/dist/jsoneditor.min.css'
    }).appendTo('head');

    const swaggerDocCustomStyles = [
      '.red-ui-editor .form-row .node-swagger-schema-editor input, .red-ui-editor .form-row .node-swagger-schema-editor div[contenteditable=true], .red-ui-editor-dialog .form-row .node-swagger-schema-editor input, .red-ui-editor-dialog .form-row .node-swagger-schema-editor div[contenteditable=true] { width: auto; height: auto; padding: 0; z-index: initial; border: 0; background-color: transparent; }',
      '.red-ui-editor .form-row .node-swagger-schema-editor .jsoneditor-tree .jsoneditor-field + div, .red-ui-editor .form-row .node-swagger-schema-editor .jsoneditor-tree .jsoneditor-value + div { top: -4px !important; left: -4px !important; }',
      '.red-ui-editor .form-row .node-swagger-schema-editor div.jsoneditor-tree { overflow: visible; }',
      '.red-ui-editor .form-row .node-swagger-schema-editor div.jsoneditor td.jsoneditor-separator { vertical-align: middle; }',
      '.red-ui-editor .form-row .node-swagger-schema-editor div.jsoneditor td.jsoneditor-tree input { margin-right: 3px; }'
    ];
    $('<style>').text(swaggerDocCustomStyles.join(' ')).appendTo('head');

    const handleJsonEditorKEyUpEvent = function(e) {
      if (13 !== e.which) return;
      // On keypress enter reset text and open contextmenu instead
      $(this).text($(this).text());
      $(this).closest('table').closest('tr').find('.jsoneditor-contextmenu-button').click();
    };

    $(document).on('keyup', '.jsoneditor-field', handleJsonEditorKEyUpEvent);
    $(document).on('keyup', '.jsoneditor-value', handleJsonEditorKEyUpEvent);

    RED.nodes.registerType('swagger-doc', {
      category: 'config',
      exclusive: true,
      defaults: {
        summary: {
          value: ''
        },
        description: {
          value: ''
        },
        tags: {
          value: ''
        },
        consumes: {
          value: ''
        },
        produces: {
          value: ''
        },
        parameters: {
          value: []
        },
        responses: {
          value: null
        },
        deprecated: {
          value: false
        }
      },
      label: function () {
        return this.summary || 'swagger doc';
      },
      onpaletteadd: function () {
        // setup swagger-ui
        let swaggerUi;

        swaggerDocUrl = `${window.location.protocol}//${window.location.hostname}:${window.location.port}${RED.settings.httpNodeRoot}http-api/swagger.json`;

        if (null === swaggerJson) {
          $.getJSON(swaggerDocUrl, function(data, status) {
            if ('success' !== status) return;
            swaggerJson = data;
          });
        }
      },
      oneditprepare: function () {

        // const socketEndpoint = process.env.SOCKETIO_ENDPOINT ? process.env.SOCKETIO_ENDPOINT : '/ws';
        const node = this;

        // Tooltips for Summary, Description, Tags, Consumes, Produces and Deprecated Labels on Properties Tab.
        RED.popover.tooltip($('#node-config-input-summary-label'), this._('swagger.data-content.summary'));
        RED.popover.tooltip($('#node-config-input-description-label'), this._('swagger.data-content.description'));
        RED.popover.tooltip($('#node-config-input-tags-label'), this._('swagger.data-content.tags'));
        RED.popover.tooltip($('#node-config-input-consumes-label'), this._('swagger.data-content.consumes'));
        RED.popover.tooltip($('#node-config-input-produces-label'), this._('swagger.data-content.produces'));
        RED.popover.tooltip($('#node-config-input-deprecated-label'), this._('swagger.data-content.deprecated'));
        RED.popover.tooltip($('#node-config-input-parameter-info'), this._('swagger.content.parameter-info'));
        RED.popover.tooltip($('#node-config-input-response-info'), this._('swagger.content.response-info'))

        // Identify parent node
        // Important: Will not work on new node creation because wasn't saved yet
        const nodes = [
          ...RED.nodes.filterNodes({
            type: 'http in'
          }),
          ...RED.nodes.filterNodes({
            type: 'socketio-receive'
          }),
          ...RED.nodes.filterNodes({
            type: 'socketio-reply'
          })
        ];

        let parentNode = null;

        for (let i = 0; i < nodes.length; i++) {
          if (nodes[i].swaggerDoc === node.id) {
            parentNode = nodes[i];
            break;
          }
        }

        if (parentNode && 'http in' === parentNode.type) {
          $('#node-config-input-method').html(parentNode.method.toUpperCase());
          $('#node-config-input-path').html(parentNode.url);
        }

        const tabs = RED.tabs.create({
          id: 'node-config-swagger-tabs',
          onchange: function (tab) {
            $('#node-config-swagger-tabs-content').children().hide();
            $('#' + tab.id).show();
          }
        });
        tabs.addTab({
          id: 'swagger-tab-info',
          label: this._('swagger.tabs-label.info')
        });
        tabs.addTab({
          id: 'swagger-tab-parameters',
          label: this._('swagger.tabs-label.parameters')
        });
        tabs.addTab({
          id: 'swagger-tab-responses',
          label: this._('swagger.tabs-label.responses')
        });

        // Need to wait for it to be rendered before the sizing of the tabs
        // can be properly calculated
        setTimeout(function () {
          tabs.resize();
        }, 10);

        const typeContent = this._('swagger.content.type');
        const formatContent = this._('swagger.content.format');
        const parameterDescriptionContent = this._('swagger.content.parameter-description');
        const responseDescriptionContent = this._('swagger.content.response-description');
        const requiredContent = this._('swagger.content.required');
        const propertyText = this._('swagger.label.property');
        const typeText = this._('swagger.text.type');
        const formatText = this._('swagger.text.format');
        const nameText = this._('swagger.text.name');
        const inText = this._('swagger.text.in');
        const pathText = this._('swagger.text.path');
        const descriptionText = this._('swagger.text.description');
        const requiredText = this._('swagger.text.required');
        const propertiesText = this._('swagger.text.properties');
        const fileText = this._('swagger.text.file');
        const codeText = this._('swagger.text.code');
        const defaultText = this._('swagger.text.default');
        const editSchemaLabel = this._('swagger.form.editSchemaLabel');
        const swaggerNameLabelText = this._('swagger.form.schemaNameLabel');
        const swaggerNameCopyOf = this._('swagger.form.swaggerNameCopyOf');
        const swaggerNameNewSchema = this._('swagger.form.swaggerNameNewSchema');

        const jsonEditorAutocompleteFunc = function (text, path, input, editor) {
          // console.log('filter', text, path, input, editor)

          let options = [];
          const currentElement = $(document.activeElement);
          const isFieldInput = currentElement.hasClass('jsoneditor-field');
          const key = currentElement.closest('tr').find('.jsoneditor-field').text();

          // get type value (if available) of config group
          const keyTypeValue = function() {
            const parendNodeItem = currentElement.closest('table').closest('tr');
            const parendPrevNodeItems = parendNodeItem.prevUntil('tr[class*="jsoneditor-"]');
            const parendNextNodeItems = parendNodeItem.nextUntil('tr[class*="jsoneditor-"]');
            const nodeItems = [
              parendNodeItem,
              parendPrevNodeItems,
              parendNextNodeItems,
            ];
            let result = null;
            for (let i = 0; i < nodeItems.length; i++) {
              const hits = nodeItems[i];
              hits.find('.jsoneditor-field').each(function() {
                if ('type' === $(this).text()) {
                  result = $(this).closest('tr').find('.jsoneditor-value').text();
                  return false;
                }
              });

              if (result) break;
            }
            return result;
          }();

          if (isFieldInput) {
            options = [ ...options, ...[
              'type',
              'required',
              'nullable',
              'properties',
              'minLength',
              'maxLength',
              'uniqueItems',
              'items',
              'minItems',
              'maxItems',
              'pattern',
              '$ref'
            ]];
          }

          // Reference
          // const refRegex = new RegExp('^\\$r?e?f?$');
          // if (text.match(refRegex) && '$ref' !== text) {
          //   options.push('$ref');
          // }

          // Schemas
          const schemaRegex = new RegExp('^\\#\\/?d?e?f?i?n?i?t?i?o?n?s?\\/?$');
          if (text.match(schemaRegex) && '$ref' !== text) {
            for (let prop in swaggerJson.components.schemas) {
              options.push(`#/definitions/${prop}`);
            }
          }

          if (['uniqueItems', 'nullable', 'exclusiveMinimum', 'readOnly', 'additionalProperties'].indexOf(key) > -1) {
            options = [ ...options, ...[
              'true',
              'false'
            ]];
          }

          if (['required', 'properties', 'items'].indexOf(key) > -1) {
            // Add new level
            options = [ ...options, ...[
              'true',
              'false'
            ]];
          }

          if ('type' === key) {
            options = [ ...options, ...[
              'string',
              'number',
              'integer',
              'boolean',
              'array',
              'object'
            ]];
          }

          // Use keyTypeValue to determine format autcomplete by type string, number/integer, boolean, array/object
          if (keyTypeValue && 'format' === key) {
            switch (keyTypeValue) {
              case 'string':
                options = [ ...options, ...[
                    'email',
                    'uuid',
                    'uri',
                    'hostname',
                    'ipv4',
                    'ipv6'
                  ], ...[
                    'date',
                    'date-time',
                    'password',
                    'byte',
                    'binary'
                  ]
                ];
                break;

              case 'number':
              case 'integer':
                options = [ ...options, ...[
                    'float',
                    'double',
                    'int32',
                    'int64'
                  ]
                ];
                break;

              case 'boolean':
                options = [ ...options, ...[
                    'true',
                    'false'
                  ]
                ];
                break;

              case 'array':
              case 'object':
                options = [ ...options, ...[
                    'true',
                    'false'
                  ]
                ];
                break;
            }
          }

          return options;
        };

        const createSwaggerForm = function(parentContainer, opts) {
          const defaultProperties = {
            id: {
              type: 'integer',
              example: 38
            },
            name: {
              type: 'string',
              example: 'Hello World'
            },
            items: {
              type: 'array',
              items: {
                type: 'string'
              },
              example: ['foo', 'bar', 'baz']
            },
            refItems: {
              type: 'array',
              items: {
                '$ref': '#/definitions/AnySchema'
              },
              example: [{
                id: 38,
                title: 'foo'
              }, {
                id: 114,
                title: 'bar'
              }]
            }
          };
          const parameterSchemaProperties = JSON.stringify(opts.schema ? opts.schema.properties : defaultProperties);
          let isEditable = '' === opts.swaggerName;

          const parameterSchemaSpan = $('<span/>', {
            class: 'node-swagger-schema-form'
          }).appendTo(parentContainer);

          // console.log('opts', opts)
          // console.log('swaggerJson.components.schemas', swaggerJson.components.schemas);

          const swaggerNameLabel = $('<label/>', {
            style: 'width: auto; margin-left:10px; margin-right: 10px;'
          }).text(swaggerNameLabelText);

          const swaggerName = $('<input/>', {
            style: 'max-width: 200px;',
            type: 'text',
            class: 'node-swagger-schema-name'
          }).val(opts.swaggerName ? opts.swaggerName : '');

          const parameterSchemaBody = $('<textarea/>', {
            class: 'node-swagger-schema-configuration',
            style: 'width: 100%; margin-top: 10px'
          }).prop('readonly', !isEditable).val(parameterSchemaProperties).hide(0);

          const parameterSchemaEditor = $('<div/>', {
            class: 'node-swagger-schema-editor',
            style: 'width: 100%; margin-top: 10px; margin-bottom: 140px'
          });

          const options = {
            mode: 'tree',
            mainMenuBar: false,
            autocomplete: {
              applyTo:['value'],
              filter: 'contain',
              trigger: 'focus',
              getOptions: jsonEditorAutocompleteFunc
            },
            onChange: function() {
              const currentElement = $(document.activeElement);
              if (true === currentElement.hasClass('jsoneditor-field') && '$ref' === currentElement.text()) {
                currentElement.closest('tr').find('.jsoneditor-value').text('#/definitions/');
              }
            },
            onChangeText: function (jsonString) {
              if (!isEditable) return;
              parameterSchemaBody.val(jsonString);
            }
          };
          const swaggerEditor = new JSONEditor(parameterSchemaEditor.get(0), options);
          swaggerEditor.set(JSON.parse(parameterSchemaBody.val()));

          const editButton = $('<a/>', {
            href: '#',
            id: 'node-config-input-add-property',
            class: 'red-ui-button red-ui-button',
            style: 'margin-left: 10px;'
          }).text(editSchemaLabel).hide(0);

          const plusIcon = $('<i/>', {
            class: 'fa fa-pencil-square',
            style: 'margin-right: 3px;'
          }).prependTo(editButton);

          editButton.click(function (e) {
            const schemaBody = parameterSchemaBody.val();
            const schemaName = parameterSchemaSelect.val();
            swaggerEditor.updateText(schemaBody);
            swaggerEditor.setMode('tree');
            swaggerName.val(swaggerNameCopyOf.replace('$1', schemaName)).show(0);
            swaggerNameLabel.show(0);
            parameterSchemaSelect.val('');
            $(this).hide(0);
            isEditable = true;
            e.preventDefault();
          });

          const parameterSchemaSelect = $('<select/>', {
            class: 'node-swagger-schema-select',
            style: 'max-width: 150px'
          }).appendTo(parameterSchemaSpan).append($('<option/>').val('').text(swaggerNameNewSchema)).change(function () {
            const id = $(this).val();
            isEditable = '' === id;
            const schema = swaggerJson.components.schemas[id] ? swaggerJson.components.schemas[id] : {};
            const jsonBody = !isEditable && schema.properties ? schema.properties : defaultProperties;
            const jsonString = JSON.stringify(jsonBody, null, 2);
            swaggerEditor.setMode(isEditable ? 'tree' : 'preview');
            swaggerEditor.updateText(jsonString);
            parameterSchemaBody.prop('readonly', !isEditable).val(jsonString);
            if (isEditable) {
              swaggerName.val('').show(0);
              swaggerNameLabel.show(0);
              editButton.hide(0);

            } else {
              swaggerName.hide(0).val(capitalize(id));
              swaggerNameLabel.hide(0);
              editButton.show(0);

            }
          });

          for (let prop in swaggerJson.components.schemas) {
            if (swaggerName.val() === prop) isEditable = false;
            parameterSchemaSelect.append($('<option/>').val(prop).text(prop));
          }

          parameterSchemaSelect.appendTo(parameterSchemaSpan);
          editButton.appendTo(parameterSchemaSpan);
          swaggerNameLabel.appendTo(parameterSchemaSpan);
          swaggerName.appendTo(parameterSchemaSpan);
          parameterSchemaBody.appendTo(parameterSchemaSpan);
          parameterSchemaEditor.appendTo(parameterSchemaSpan);

          if (!isEditable) parameterSchemaSelect.val(swaggerName.val()).change();
        }

        /**
            Called when the editor opens. It is used to recreate the editor from the saved swagger doc.
            This function is called anytime a new property needs to be created.
            This is currently only done when dealing with a body parameter, as a schema (with properties) is required.
        */
        const generatePropertyRow = function (opts) {
          const row = $('<div/>', {
            class: 'node-swagger-property-name-row',
            style: 'margin-top: 3px; margin-left: -10px;'
          });

          const remove = $('<a/>', {
            href: '#',
            class: 'red-ui-button red-ui-button-small',
            style: 'float: right; margin-right: 5px; margin-top: 3px;'
          }).appendTo(row);

          const removeIcon = $('<i/>', {
            class: 'fa fa-remove'
          }).appendTo(remove);

          remove.click(function (e) {
            row.slideUp(100, function () {
              row.remove();
            });
            e.preventDefault();
          });

          const propList = $('<div/>', {
            class: 'node-swagger-property-row',
            style: 'margin-top: 3px; margin-left: 10px;'
          });

          propList.appendTo(row);
          // opts.propertyRow = true;

          const rowSwaggerType = $('<div/>', {
            class: 'node-swagger-type-row',
            style: 'margin-top:3px'
          }).appendTo(propList);
          createSwaggerForm(rowSwaggerType, opts);

          return row;

        }

        /**
            Called when the editor opens. It is used to recreate the editor from the saved swagger doc.
            This function is called anytime a new paramater is created.
            This is called several times when parsing through the swagger doc.
            If expand is true, the inner properties of the parameter will be showing when the editor opens.
        */
        const generateParameterLine = function (opts, expand) {
          const li = $('<li/>', {
            style: 'background: #fff; margin:4px 0; border: 1px solid #ccc;'
          }).appendTo('#node-config-parameter-list');

          const row1 = $('<div/>', {
            style: 'background:#f3f3f3; padding: 5px;'
          }).appendTo(li);
          const remove = $('<a/>', {
            href: '#',
            class: 'red-ui-button red-ui-button-small',
            style: 'float: right; margin-right: 5px; margin-top: 3px;'
          }).appendTo(row1);
          const removeIcon = $('<i/>', {
            class: 'fa fa-remove'
          }).appendTo(remove);

          remove.click(function (e) {
            li.slideUp(100, function () {
              li.remove();
            });
            e.preventDefault();
          });

          const expanderSpan = $('<span/>', {
            style: 'display:inline-block; width: 20px; margin-right:10px;'
          }).appendTo(row1);
          const expander = $('<a/>', {
            href: '#',
            style: 'text-align: center; display: inline-block; 5px; width: 20px; height: 30px; line-height: 30px;'
          }).appendTo(expanderSpan);
          const expanderIcon = $('<i/>', {
            class: 'fa fa-chevron-right',
            style: 'width: 15px; text-align:centre;'
          }).appendTo(expander);

          const showDetails = function () {
            expanderIcon.removeClass('fa-chevron-right');
            expanderIcon.addClass('fa-chevron-down');
            nameRows.slideDown(200);
          }
          const hideDetails = function () {
            expanderIcon.removeClass('fa-chevron-down');
            expanderIcon.addClass('fa-chevron-right');
            nameRows.slideUp(200);
          }

          expander.click(function (e) {
            const icn = $(this).children('.fa');
            if (icn.hasClass('fa-chevron-right')) {
              showDetails();
            } else {
              hideDetails();
            }
            e.preventDefault();
          });

          const parameterSelect = $('<select/>', {
            class: 'node-swagger-name-select',
            style: 'max-width: 90px; margin-right: 10px;'
          }).appendTo(row1);
          parameterSelect.append($('<option/>').val('name').text(nameText));

          // Remove ref until theres a plan for it..
          // parameterSelect.append($('<option/>').val('ref').text('$ref'));

          parameterSelect.change(function () {
            const p = $(this).val();
            if (p == 'name') {
              expander.show();
              $(this).parent().children('.node-swagger-in-form').show();
              $(this).parent().find('.node-swagger-name').css({
                maxWidth: '150px'
              });
              showDetails();
            } else {
              expander.hide();
              $(this).parent().children('.node-swagger-in-form').hide();
              $(this).parent().find('.node-swagger-name').css({
                maxWidth: '300px'
              });
              hideDetails();
            }
          });

          const parameterName = $('<input/>', {
            style: 'max-width: 150px',
            type: 'text',
            class: 'node-swagger-name'
          }).appendTo(row1);

          if (opts.ref) {
            parameterSelect.val('ref');
            parameterName.val(opts.ref);
          } else {
            parameterSelect.val('name');
            parameterName.val(opts.name);
          }

          const inSpan = $('<span/>', {
            class: 'node-swagger-in-form'
          }).appendTo(row1);
          $('<label/>', {
            style: 'width: auto; margin-left:10px; margin-right: 10px;'
          }).text(inText).appendTo(inSpan);
          const inSelect = $('<select/>', {
            class: 'node-swagger-in-select',
            style: 'max-width: 150px'
          }).appendTo(inSpan);
          const inoptions = ['query', 'header', 'formData', 'body'];
          // only add path option if there were path params in the url
          if (opts.in == 'path') {
            inSelect.append($('<option></option>').val('path').text(pathText));
          }
          for (let i = 0; i < inoptions.length; i++) {
            inSelect.append($('<option></option>').val(inoptions[i]).text(inoptions[i]));
          }
          inSelect.val(opts.in);

          const nameRows = $('<div/>', {
            class: 'node-swagger-name-row',
            style: 'padding: 15px;'
          }).appendTo(li).hide();

          const row2 = $('<div/>', {
            class: 'form-row node-swagger-name-row'
          }).appendTo(nameRows);
          const descLabel = $('<label/>').text(descriptionText).appendTo(row2);
          RED.popover.tooltip(descLabel, parameterDescriptionContent);

          $('<input/>', {
            type: 'text',
            class: 'node-swagger-description',
            style: 'max-width: 300px'
          }).val(opts.description).appendTo(row2);
          const required = $('<input/>', {
            type: 'checkbox',
            class: 'node-swagger-required',
            style: 'width: auto; float: right; margin-left: 10px; vertical-align: middle'
          }).appendTo(row2);
          const reqLabel = $('<label/>', {
            style: 'width: auto; float: right; margin-left:20px; vertical-align: middle'
          }).text(requiredText).appendTo(row2);

          RED.popover.tooltip(reqLabel, requiredContent);
          required.prop('checked', opts.required);

          // lock non-changeable fields if path variable
          if (opts.in == 'path') {
            parameterSelect.attr('disabled', true);
            parameterName.attr('disabled', true);
            inSelect.attr('disabled', true);
            required.attr('disabled', true);
            remove.hide();
          }

          // OpenAPI editor
          const rowPropHeader = $('<div/>', {
            class: 'form-row node-swagger-propHeader-row'
          }).appendTo(nameRows);

          $('<label/>', {
            class: 'node-swagger-propHeader-label'
          }).text(propertiesText).appendTo(rowPropHeader);

          createSwaggerForm(rowPropHeader, opts);

          // Start processing
          inSelect.change(function () {
            const i = $(this).val();
            const parameterSchemaRow = $(this).parent().parent().parent().children('.node-swagger-name-row').children('.node-swagger-propHeader-row');
            const typeRow = $(this).parent().parent().parent().children('.node-swagger-name-row').children('.node-swagger-type-row');

            if (i == 'body') {
              parameterSchemaRow.show();
              typeRow.hide();

            } else {
              if (i == 'formData') {
                if (typeRow.children('.node-swagger-type-select').children('option[value="file"]').length == 0) {
                  $('<option/>').val('file').text(fileText).appendTo(typeRow.children('.node-swagger-type-select'));

                }
              } else {
                typeRow.children('.node-swagger-type-select').children('option[value="file"]').remove();

              }
              parameterSchemaRow.hide();
              typeRow.show();

            }
          });

          inSelect.change();
          parameterSelect.change();

          if (!expand) {
            hideDetails();

          }
        }

        /**
            This is called anytime the '+ parameter' button is clicked.
            It will then call generateParameterLine to create and attach a new parameter.
        */
        $('#node-config-input-add-parameter').click(function (e) {
          generateParameterLine({}, true);
          const scrollContainer = $('#node-config-parameter-list').parent();
          scrollContainer.scrollTop(scrollContainer.prop('scrollHeight'));
          e.preventDefault();
        });

        /**
            Called when the editor opens. It is used to recreate the editor from the saved swagger doc.
            This function is called anytime a new response is created.
            It is run when parsing through the swagger doc.
            If expand is true, the inner properties of the response will be shown when the editor opens.
        */
        const generateResponseLine = function (opts, expand) {
          const li = $('<li/>', {
            style: 'background: #fff; margin:4px 0; border: 1px solid #ccc;'
          }).appendTo('#node-config-response-list');

          const row1 = $('<div/>', {
            style: 'background:#f3f3f3; padding: 5px;'
          }).appendTo(li);
          const remove = $('<a/>', {
            href: '#',
            class: 'red-ui-button red-ui-button-small',
            style: 'float: right; margin-right: 5px; margin-top: 3px;'
          }).appendTo(row1);
          const removeIcon = $('<i/>', {
            class: 'fa fa-remove'
          }).appendTo(remove);

          remove.click(function (e) {
            li.slideUp(100, function () {
              li.remove();
            });
            e.preventDefault();
          });

          const expanderSpan = $('<span/>', {
            style: 'display:inline-block; width: 20px; margin-right:10px;'
          }).appendTo(row1);
          const expander = $('<a/>', {
            href: '#',
            style: 'text-align: center; display: inline-block; 5px; width: 20px; height: 30px; line-height: 30px;'
          }).appendTo(expanderSpan);
          const expanderIcon = $('<i/>', {
            class: 'fa fa-chevron-right',
            style: 'width: 15px; text-align:centre;'
          }).appendTo(expander);

          const showDetails = function () {
            expanderIcon.removeClass('fa-chevron-right');
            expanderIcon.addClass('fa-chevron-down');
            nameRows.slideDown(200);
          }
          const hideDetails = function () {
            expanderIcon.removeClass('fa-chevron-down');
            expanderIcon.addClass('fa-chevron-right');
            nameRows.slideUp(200);
          }

          expander.click(function (e) {
            const icn = $(this).children('.fa');
            if (icn.hasClass('fa-chevron-right')) {
              showDetails();
            } else {
              hideDetails();
            }
            e.preventDefault();
          });

          const responseSelect = $('<select/>', {
            class: 'node-swagger-name-select',
            style: 'max-width: 90px; margin-right: 10px;'
          }).appendTo(row1);
          responseSelect.append($('<option/>').val('tree').text(codeText));
          responseSelect.append($('<option/>').val('default').text(defaultText));
          responseSelect.change(function () {
            const p = $(this).val();
            if (p == 'tree') {
              expander.show();
              $(this).parent().children('.node-swagger-respCode').show();
              showDetails();
            } else {
              expander.show();
              $(this).parent().children('.node-swagger-respCode').hide();
              showDetails();
            }
          });

          const responseRespCode = $('<input/>', {
            style: 'max-width: 150px',
            type: 'text',
            class: 'node-swagger-respCode'
          }).appendTo(row1);

          if (opts.code == 'default') {
            responseSelect.val('default');
          } else {
            responseSelect.val('tree');
            responseRespCode.val(opts.code);
          }

          const nameRows = $('<div/>', {
            class: 'node-swagger-name-row',
            style: 'padding: 15px;'
          }).appendTo(li).hide();

          const row2 = $('<div/>', {
            class: 'form-row node-swagger-description-row'
          }).appendTo(nameRows);
          const descLabel = $('<label/>').text(descriptionText).appendTo(row2);
          RED.popover.tooltip(descLabel, responseDescriptionContent);

          $('<input/>', {
            type: 'text',
            class: 'node-swagger-description'
          }).val(opts.description).appendTo(row2);

          const rowPropHeader = $('<div/>', {
            class: 'form-row node-swagger-propHeader-row'
          }).appendTo(nameRows);
          $('<label/>', {
            class: 'node-swagger-propHeader-label',
            style: 'width: auto; font-weight: bold; margin-right: 10px'
          }).text(propertiesText).appendTo(rowPropHeader);

          const rowPropList = $('<div/>', {
            class: 'form-row node-swagger-prop-list',
            style: 'margin-left:10px'
          }).appendTo(rowPropHeader);

          if (opts.schema && opts.schema.properties) {
            for (let prop in opts.schema.properties) {
              generatePropertyRow(opts.schema.properties[prop]).appendTo(rowPropList);
            }
          }

          const addPropButton = $('<a/>', {
            href: '#',
            id: 'node-config-input-add-property',
            class: 'red-ui-button red-ui-button-small'
          }).text(propertyText).appendTo(rowPropHeader);

          const plusIcon = $('<i/>', {
            class: 'fa fa-plus',
            style: 'margin-right: 3px;'
          }).prependTo(addPropButton);

          addPropButton.click(function (e) {
            generatePropertyRow({}).appendTo(rowPropList);
            const scrollContainer = $('#node-config-parameter-list').parent();
            scrollContainer.scrollTop(scrollContainer.prop('scrollHeight'));
            e.preventDefault();
          });

          responseSelect.change();
          if (!expand) {
            hideDetails();
          }
        }

        /**
            This is called anytime the '+ response' button is clicked.
            It will then call generateResponseLine to create and attach a new response.
        */
        $('#node-config-input-add-response').click(function (e) {
          generateResponseLine({}, true);
          const scrollContainer = $('#node-config-response-list').parent();
          scrollContainer.scrollTop(scrollContainer.prop('scrollHeight'));
          e.preventDefault();
        });

        // Discover path params
        const pathParams = [];
        if ($('#node-config-input-path').html().match(/\/:\w*/g)) {
          $('#node-config-input-path').html().match(/\/:\w*/g).forEach(function (p) {
            pathParams.push(p.substring(2));
          });
        }

        // Parse defined parameters, calling appropriate functions to recreate the editor
        node.parameters.forEach(function (p) {
          const conf = {
            name: p.name,
            in: p.in,
            description: p.description,
            swaggerName: p.swaggerName,
            required: p.required,
            type: p.type,
            format: p.format,
            collectionFormat: p.collectionFormat,
            items: p.items,
            schema: p.schema
          };

          if (p.in == 'path') {
            // param was previously defined
            if (pathParams.indexOf(p.name) > -1) {
              generateParameterLine(conf, false);
              pathParams.splice(pathParams.indexOf(p.name), 1);

            } else {
              // param is no longer a path param
              delete p;

            }
          } else {
            generateParameterLine(conf, false);

          }
        });

        // Add path params that weren't found above
        pathParams.forEach(function (p) {
          // console.log('adding path param: ' + p);
          generateParameterLine({
            name: p,
            in: 'path',
            description: '',
            swaggerName: '',
            required: true,
            // string by default - null causes problems
            type: 'string',
            format: null,
            items: null,
            schema: null
          }, true);
        });

        // Recreate response objects in editor for those already defined
        for (let code in node.responses) {
          const response = node.responses[code];
          response.code = code;
          generateResponseLine(response, false);
        }

      },
      oneditsave: function () {
        const node = this;

        /**
            Recursive function used to generate the items object that is required for array objects
        */
        const getArrayItems = function (row) {
          const items = {};
          const type = row.find('.node-swagger-type-select').val();
          items.type = type;

          if (type == 'array') {
            const collFormat = row.find('.node-swagger-type-collection-format').val();
            if (collFormat) items.collectionFormat = collFormat;

            const nextRow = row.children('.node-swagger-type-row');
            items.items = getArrayItems(nextRow);

          } else {
            const format = row.find('.node-swagger-type-format').val();
            items.format = format;

          }
          return items;
        };

        // Parse parameters and generate list
        const params = [];
        node.schemas = {};
        $('#node-config-parameter-list li').each(function () {
          const param = {};
          const nameType = $(this).find('.node-swagger-name-select').val();
          const name = $(this).find('.node-swagger-name').val();

          if (nameType == 'ref') {
            param['$ref'] = name;

          } else {
            param.name = name;
            param.in = $(this).find('.node-swagger-in-select').val();
            param.required = $(this).find('.node-swagger-required').is(':checked');

            const desc = $(this).find('.node-swagger-description').val();
            if (desc) {
              param.description = desc;

            }

            if ('body' === param.in) {
              const swaggerName = $(this).find('.node-swagger-schema-name').val();
              const swaggerProperties = $(this).find('.node-swagger-schema-configuration').val();
              if ('' === swaggerName) return;
              param.swaggerName = capitalize(swaggerName);
              param.schema = {
                type: 'object',
                properties: JSON.parse(swaggerProperties)
              };

              // Add to schemas
              node.schemas[param.swaggerName] = param.schema;

            } else {
              const row = $(this).find('.node-swagger-type-top-row');
              const current = param;
              const ctype = row.children('.node-swagger-type-select').val();

              if (ctype) {
                if (ctype != 'ref') {
                  current.type = ctype;

                  if ('array' == current.type) {
                    current.collectionFormat = row.children('.node-swagger-type-collection-format').val();
                    current.items = getArrayItems(row.children('.node-swagger-type-row'));

                  } else {
                    const format = row.children('.node-swagger-type-format').val();
                    if (format) {
                      current.format = format;

                    }
                  }

                } else {
                  current['$ref'] = row.children('.node-swagger-type-format').val();

                }
              }
            }
          }
          params.push(param);

        });
        node.parameters = params;

        // Parse responses and generate list
        const responses = {};
        $('#node-config-response-list li').each(function () {
          const response = {};
          let respCode;
          const nameType = $(this).find('.node-swagger-name-select').val();
          if (nameType === 'default') {
            respCode = 'default';
          } else {
            respCode = $(this).find('.node-swagger-respCode').val();
          }
          const desc = $(this).find('.node-swagger-description').val();
          response.description = desc || '';
          const properties = {};

          $(this).find('.node-swagger-prop-list').children('.node-swagger-property-name-row').each( function () {
            const swagger = $(this).find('.node-swagger-property-row .node-swagger-type-row .node-swagger-schema-form');
            const swaggerName = swagger.find('.node-swagger-schema-name').val();
            const swaggerProperties = swagger.find('.node-swagger-schema-configuration').val();
            if ('' === swaggerName) return;
            const capitalizedName = capitalize(swaggerName);
            // Add to schemas
            const schema = {
              swaggerName: capitalizedName,
              schema: {
                type: 'object',
                properties: JSON.parse(swaggerProperties)
              }
            };

            properties[capitalizedName] = schema;

            // Add to schemas
            node.schemas[schema.swaggerName] = schema.schema;
          });

          if (Object.keys(properties).length > 0) {
            response.schema = {
              properties: properties
            };
          }

          responses[respCode] = response;
        });
        node.responses = responses;
        // console.log('node', node)

        delete this.editor;
        // swaggerEditor.destroy();

        // OpenAPI editor
        swaggerJson.components.schemas = { ...swaggerJson.components.schemas, ...node.schemas };
      }

    });
  })();
</script>